In [223]:
import numpy as np
import pandas as pd
import ast

In [224]:
 movies = pd.read_csv('movies.csv')
 credits = pd.read_csv('credits.csv')

In [225]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [226]:
movies = movies.merge(credits,on='title')

In [227]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [228]:
#genres
#id
#keywords
#title
#overview
#cast
#crew

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [229]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [230]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [231]:
movies.dropna(inplace=True)

In [232]:
movies.duplicated().sum()

0

In [233]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [234]:
#['Action','Adventure','Fantasy','SciFi']
#to convert dictionary fromat

In [235]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [236]:
movies['genres'] = movies['genres'].apply(convert)

In [237]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [238]:
movies['keywords'] = movies['keywords'].apply(convert)

In [239]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [240]:
#convert cast and only require first 3 cast
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [241]:
movies['cast'] = movies['cast'].apply(convert3)

In [242]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [243]:
#fetch director
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [244]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [245]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [246]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [247]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [248]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [249]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [250]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [251]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [252]:
new_df = movies[['movie_id','title','tags']]

In [253]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\ROG STRIX\AppData\Local\Temp\ipykernel_12308\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [254]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [255]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\ROG STRIX\AppData\Local\Temp\ipykernel_12308\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [256]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [257]:
  #Vectorization

In [258]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [259]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [260]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [261]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [262]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [263]:
import nltk

In [264]:
from nltk .stem.porter import PorterStemmer
ps = PorterStemmer()

In [265]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [266]:
ps.stem('loving')

'love'

In [267]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\ROG STRIX\AppData\Local\Temp\ipykernel_12308\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [268]:
from sklearn.metrics.pairwise import cosine_similarity

In [269]:
similarity = cosine_similarity(vectors)

In [270]:
cosine_similarity(vectors).shape

(4805, 4805)

In [271]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

[(0, 0.9999999999999998),
 (539, 0.25038669783359574),
 (1194, 0.24779731389167606),
 (507, 0.24061325159289396),
 (1216, 0.23939494881986934),
 (260, 0.23693955110363693),
 (1920, 0.233785950059759),
 (582, 0.23174488732966075),
 (1204, 0.23084512921915967),
 (3730, 0.2294157338705618),
 (2409, 0.228012566372163),
 (1444, 0.2249606353329238),
 (74, 0.22010219462003333),
 (322, 0.21629522817435),
 (3608, 0.21486752129677),
 (83, 0.21296183592613546),
 (61, 0.21239769762143662),
 (1537, 0.2108663315950723),
 (2333, 0.20857039859669466),
 (47, 0.20770324619863198),
 (495, 0.20751433915982237),
 (4191, 0.20751433915982237),
 (942, 0.20395079136182276),
 (972, 0.20395079136182276),
 (466, 0.20295302744752153),
 (1329, 0.2029530274475215),
 (2204, 0.19767387315371676),
 (151, 0.19672236884115843),
 (1201, 0.19466570535691505),
 (973, 0.19194297398747862),
 (1275, 0.19088542889273336),
 (2786, 0.19088542889273336),
 (2971, 0.18848425873126295),
 (4404, 0.18731716231633883),
 (3162, 0.1873171623163388),
 (4047, 0.18693292157876878),
 (3538, 0.18668326147193276),
 (305, 0.18541926977182407),
 (931, 0.18394180184548975),
 (150, 0.18249909877210785),
 (461, 0.18136906252750293),
 (1321, 0.1813690625275029),
 (3327, 0.1813690625275029),
 (27, 0.17996850826633906),
 (2999, 0.17996850826633903),
 (300, 0.17954621161490197),
 (220, 0.1777046633277277),
 (4, 0.177343107178349),
 (1071, 0.177343107178349),
 (301, 0.1757624775445141),
 (36, 0.17521916101261562),
 (184, 0.17521916101261562),
 (67, 0.16943474841747155),
 (46, 0.16943474841747153),
 (7, 0.1692777916923361),
 (373, 0.1691275228729346),
 (2496, 0.1691275228729346),
 (2731, 0.1691275228729346),
 (1831, 0.16742770563222897),
 (1344, 0.16692446522239718),
 (149, 0.16481712868606582),
 (26, 0.16452254913212452),
 (1808, 0.16452254913212452),
 (208, 0.16222142113076254),
 (661, 0.16222142113076254),
 (838, 0.16222142113076254),
 (108, 0.16222142113076252),
 (94, 0.15907119074394446),
 (581, 0.15907119074394446),
 (2515, 0.15907119074394446),
 (1396, 0.15747244473304667),
 (4009, 0.15737789507292674),
 (52, 0.15585730003983933),
 (1297, 0.15585730003983933),
 (1383, 0.15585730003983933),
 (4335, 0.15585730003983933),
 (168, 0.15389675281277312),
 (31, 0.15328483487124145),
 (91, 0.15061880828219448),
 (3628, 0.15061880828219448),
 (311, 0.15018785229652765),
 (1965, 0.14910501299480675),
 (502, 0.14843120879858804),
 (577, 0.14808721943977307),
 (3354, 0.14808721943977307),
 (158, 0.14673479641335554),
 (1355, 0.14673479641335554),
 (1178, 0.14567913668701626),
 (172, 0.14509525002200233),
 (490, 0.14509525002200233),
 (17, 0.1442149876003076),
 (1938, 0.14350946197048198),
 (111, 0.1433848336691011),
 (2169, 0.1433848336691011),
 (422, 0.14159846508095775),
 (1488, 0.14159846508095775),
 (369, 0.14119562368122626),
 (41, 0.1404878717372541),
 (84, 0.13977653617040256),
 (332, 0.1391037210186643),
 (568, 0.1391037210186643),
 (2686, 0.1391037210186643),
 (56, 0.13834289277321493),
 (249, 0.13834289277321493),
 (505, 0.13834289277321493),
 (2584, 0.13834289277321493),
 (3998, 0.13834289277321493),
 (1322, 0.13764944032233706),
 (557, 0.13710212427677043),
 (1220, 0.13710212427677043),
 (487, 0.13530201829834768),
 (1327, 0.13530201829834768),
 (187, 0.13518451760896877),
 (413, 0.13518451760896877),
 (1673, 0.13497638119975428),
 (2133, 0.13497638119975428),
 (2873, 0.13497638119975428),
 (4347, 0.13497638119975428),
 (1945, 0.13334518676566626),
 (1833, 0.1324532357065044),
 (2620, 0.1324532357065044),
 (2970, 0.1324532357065044),
 (4489, 0.1324532357065044),
 (1015, 0.13157894736842107),
 (1299, 0.13157894736842107),
 (3409, 0.13157894736842107),
 (3622, 0.13157894736842107),
 (342, 0.13112201362143713),
 (127, 0.1302565123238377),
 (2480, 0.130066495428618),
 (754, 0.12988108336653278),
 (1479, 0.12988108336653278),
 (134, 0.12977713690461004),
 (368, 0.12977713690461004),
 (1158, 0.12977713690461004),
 (1002, 0.12892051277806202),
 (595, 0.12824729401064427),
 (3675, 0.12824729401064427),
 (68, 0.12725695259515557),
 (1047, 0.12725695259515557),
 (1096, 0.12725695259515557),
 (2378, 0.12725695259515557),
 (3376, 0.12725695259515557),
 (740, 0.126673647984535),
 (1617, 0.126673647984535),
 (1575, 0.12565617248750865),
 (1715, 0.12565617248750865),
 (778, 0.12515654358043973),
 (1037, 0.12515654358043973),
 (3443, 0.12515654358043973),
 (1747, 0.12487810821089254),
 (483, 0.12487810821089253),
 (1658, 0.12487810821089253),
 (279, 0.12369267399882337),
 (420, 0.12369267399882337),
 (529, 0.12369267399882337),
 (1741, 0.12361284651454937),
 (939, 0.12262786789699315),
 (228, 0.12227899701112961),
 (2713, 0.12227899701112961),
 (3309, 0.12227899701112961),
 (238, 0.12166606584807191),
 (3218, 0.12166606584807191),
 (95, 0.12091270835166862),
 (278, 0.12091270835166862),
 (3407, 0.12091270835166862),
 (28, 0.1204950466257556),
 (275, 0.1204950466257556),
 (1274, 0.1204950466257556),
 (2868, 0.1204950466257556),
 (4672, 0.1204950466257556),
 (432, 0.11959121830873498),
 (549, 0.11959121830873498),
 (2547, 0.11959121830873498),
 (72, 0.11846977555181847),
 (579, 0.11846977555181847),
 (1982, 0.11846977555181847),
 (2075, 0.11846977555181847),
 (454, 0.11831213107007527),
 (1512, 0.11831213107007525),
 (624, 0.11803342130469506),
 (653, 0.11803342130469506),
 (808, 0.11803342130469506),
 (3147, 0.11717498502967605),
 (123, 0.11707322644771175),
 (1277, 0.11707322644771175),
 (50, 0.116543309349613),
 (687, 0.116543309349613),
 (692, 0.11587244366483038),
 (3630, 0.11587244366483036),
 (1574, 0.1147078669352809),
 (2259, 0.1147078669352809),
 (3721, 0.1147078669352809),
 (166, 0.11470786693528089),
 (232, 0.11470786693528089),
 (859, 0.11470786693528089),
 (1616, 0.11470786693528089),
 (169, 0.11470786693528087),
 (294, 0.11470786693528087),
 (5, 0.11357771260606365),
 (10, 0.11295649894498101),
 (87, 0.11295649894498101),
 (1031, 0.11295649894498101),
 (2583, 0.11295649894498101),
 (3008, 0.11295649894498101),
 (81, 0.11239029738980326),
 (141, 0.11164843913471803),
 (627, 0.11164843913471803),
 (1301, 0.11164843913471803),
 (1373, 0.11164843913471803),
 (2323, 0.11164843913471803),
 (3999, 0.11164843913471803),
 (199, 0.11141412945539662),
 (14, 0.11128297681493143),
 (126, 0.11128297681493143),
 (513, 0.11128297681493143),
 (777, 0.11037769642208699),
 (508, 0.10968169942141635),
 (854, 0.10968169942141635),
 (900, 0.10968169942141635),
 (1195, 0.10968169942141635),
 (2450, 0.10968169942141635),
 (3498, 0.10968169942141635),
 (1019, 0.10936965981495178),
 (1524, 0.10882143751650175),
 (1721, 0.10882143751650175),
 (2634, 0.10882143751650175),
 (3663, 0.10882143751650175),
 (4017, 0.10882143751650175),
 (4134, 0.10882143751650175),
 (4202, 0.10882143751650175),
 (18, 0.10838874619051501),
 (102, 0.10838874619051501),
 (1497, 0.10838874619051501),
 (2106, 0.10838874619051501),
 (2439, 0.10838874619051501),
 (131, 0.10814761408717503),
 (312, 0.10814761408717503),
 (1082, 0.10814761408717503),
 (2013, 0.10814761408717503),
 (3620, 0.10814761408717503),
 (1294, 0.10814761408717502),
 (3340, 0.10814761408717502),
 (4096, 0.10814761408717502),
 (2760, 0.10743376064838502),
 (174, 0.106676149412533),
 (266, 0.106676149412533),
 (2072, 0.106676149412533),
 (2181, 0.106676149412533),
 (239, 0.10650358071057624),
 (403, 0.10650358071057624),
 (325, 0.10619884881071831),
 (773, 0.10619884881071831),
 (1156, 0.10619884881071831),
 (1727, 0.10619884881071831),
 (3055, 0.10619884881071831),
 (3781, 0.10619884881071831),
 (3839, 0.10619884881071831),
 (3953, 0.10619884881071831),
 (295, 0.10526315789473685),
 (330, 0.10526315789473685),
 (535, 0.10526315789473685),
 (988, 0.10526315789473685),
 (1273, 0.10526315789473685),
 (4078, 0.10526315789473685),
 (4229, 0.10526315789473685),
 (182, 0.10390486669322622),
 (3102, 0.10390486669322622),
 (139, 0.10385162309931599),
 (105, 0.1037571695799112),
 (2456, 0.1037571695799112),
 (2521, 0.1037571695799112),
 (2562, 0.1037571695799112),
 (2762, 0.1037571695799112),
 (4197, 0.1037571695799112),
 (4544, 0.10301070542879115),
 (334, 0.10259783520851541),
 (643, 0.10259783520851541),
 (898, 0.10259783520851541),
 (1056, 0.10259783520851541),
 (3783, 0.10259783520851541),
 (85, 0.10203255357771539),
 (148, 0.10147651372376076),
 (233, 0.10147651372376076),
 (476, 0.10147651372376076),
 (715, 0.10147651372376076),
 (935, 0.10147651372376076),
 (1280, 0.10147651372376076),
 (2660, 0.10147651372376076),
 (4330, 0.10147651372376076),
 (129, 0.101338918387628),
 (510, 0.101338918387628),
 (587, 0.101338918387628),
 (1086, 0.101338918387628),
 (1109, 0.101338918387628),
 (3464, 0.101338918387628),
 (4044, 0.101338918387628),
 (307, 0.1003911722115382),
 (1233, 0.10012523486435178),
 (33, 0.09933992677987831),
 (35, 0.09933992677987831),
 (157, 0.09933992677987831),
 (263, 0.09933992677987831),
 (400, 0.09933992677987831),
 (660, 0.09933992677987831),
 (781, 0.09933992677987831),
 (1306, 0.09933992677987831),
 (1501, 0.09933992677987831),
 (1942, 0.09933992677987831),
 (2661, 0.09933992677987831),
 (4255, 0.09933992677987831),
 (4622, 0.09933992677987831),
 (270, 0.0989541391990587),
 (371, 0.0989541391990587),
 (412, 0.0989541391990587),
 (870, 0.0989541391990587),
 (1202, 0.0989541391990587),
 (1439, 0.0989541391990587),
 (1276, 0.0978231976089037),
 (1846, 0.0978231976089037),
 (473, 0.09782319760890369),
 (813, 0.09782319760890369),
 (933, 0.09782319760890369),
 (1823, 0.09782319760890369),
 (2003, 0.09782319760890369),
 (2284, 0.09782319760890369),
 (292, 0.09733285267845754),
 (389, 0.09733285267845754),
 (530, 0.09733285267845754),
 (920, 0.09733285267845754),
 (1077, 0.09733285267845754),
 (2651, 0.09733285267845754),
 (3093, 0.09733285267845754),
 (3736, 0.09733285267845754),
 (1089, 0.09694584179118516),
 (410, 0.0967301666813349),
 (243, 0.09567297464698798),
 (785, 0.09558988911273408),
 (122, 0.09544271444636668),
 (142, 0.09544271444636668),
 (564, 0.09544271444636668),
 (791, 0.09544271444636668),
 (1474, 0.09544271444636668),
 (1589, 0.09544271444636668),
 (1686, 0.09544271444636668),
 (1756, 0.09544271444636668),
 (2396, 0.09544271444636668),
 (2652, 0.09544271444636668),
 (589, 0.09464970485606021),
 (618, 0.09464970485606021),
 (1357, 0.09464970485606021),
 (2596, 0.09464970485606021),
 (2796, 0.09365858115816941),
 (12, 0.0936585811581694),
 (23, 0.0936585811581694),
 (43, 0.0936585811581694),
 (236, 0.0936585811581694),
 (362, 0.0936585811581694),
 (2093, 0.0936585811581694),
 (160, 0.09304036594559835),
 (206, 0.09304036594559835),
 (1418, 0.0926979549318643),
 (2488, 0.0926979549318643),
 (511, 0.09197090092274487),
 (922, 0.09197090092274487),
 (1004, 0.09197090092274487),
 (1027, 0.09197090092274487),
 (1408, 0.09197090092274487),
 (2817, 0.09197090092274487),
 (2840, 0.09197090092274487),
 (479, 0.09183979479633063),
 (596, 0.09176629354822471),
 (1924, 0.0917662935482247),
 (1278, 0.09086217008485092),
 (1832, 0.09086217008485092),
 (242, 0.09037128496931669),
 (306, 0.09037128496931669),
 (691, 0.09037128496931669),
 (794, 0.09037128496931669),
 (960, 0.09037128496931669),
 (1249, 0.09037128496931669),
 (3428, 0.09037128496931669),
 (4467, 0.09037128496931669),
 (799, 0.09012301173931252),
 (2448, 0.09012301173931252),
 (2274, 0.08998425413316952),
 (2388, 0.08998425413316952),
 (2856, 0.08998425413316952),
 (3154, 0.08998425413316952),
 (4352, 0.08998425413316952),
 (4501, 0.08998425413316952),
 (4515, 0.08998425413316952),
 (4653, 0.08998425413316952),
 (1496, 0.0891313035643173),
 (21, 0.08885233166386385),
 (227, 0.08885233166386385),
 (349, 0.08885233166386385),
 (626, 0.08885233166386385),
 (775, 0.08885233166386385),
 (901, 0.08885233166386385),
 (980, 0.08885233166386385),
 (1378, 0.08885233166386385),
 (1700, 0.08885233166386385),
 (3449, 0.08885233166386385),
 (3537, 0.08885233166386385),
 (3816, 0.08885233166386385),
 (4625, 0.08885233166386385),
 (107, 0.08830215713766959),
 (170, 0.08830215713766959),
 (812, 0.08830215713766959),
 (2005, 0.08830215713766959),
 (2968, 0.08830215713766959),
 (32, 0.08749572785196143),
 (467, 0.08749572785196143),
 (541, 0.08749572785196143),
 (2498, 0.08749572785196143),
 (1, 0.08740748201220976),
 (75, 0.08740748201220976),
 (88, 0.08740748201220976),
 (112, 0.08740748201220976),
 (121, 0.08740748201220976),
 (164, 0.08740748201220976),
 (245, 0.08740748201220976),
 (315, 0.08740748201220976),
 (356, 0.08740748201220976),
 (786, 0.08740748201220976),
 (894, 0.08740748201220976),
 (937, 0.08740748201220976),
 (1269, 0.08740748201220976),
 (1790, 0.08740748201220976),
 (2167, 0.08740748201220976),
 (3301, 0.08740748201220976),
 (45, 0.08671099695241201),
 (222, 0.08671099695241201),
 (363, 0.08671099695241201),
 (381, 0.08671099695241201),
 (491, 0.08671099695241201),
 (1139, 0.08671099695241201),
 (2880, 0.08671099695241201),
 (4164, 0.08671099695241201),
 (4736, 0.08671099695241201),
 (2386, 0.08646430798325933),
 (86, 0.08603090020146066),
 (96, 0.08603090020146066),
 (241, 0.08603090020146066),
 (547, 0.08603090020146066),
 (814, 0.08603090020146066),
 (2247, 0.08603090020146066),
 (2251, 0.08603090020146066),
 (2304, 0.08603090020146066),
 (2794, 0.08603090020146066),
 (3091, 0.08603090020146066),
 (4258, 0.08603090020146066),
 (4656, 0.08603090020146066),
 (654, 0.08594700851870801),
 (1282, 0.08594700851870801),
 (1878, 0.08594700851870801),
 (230, 0.08520286456846099),
 (3441, 0.08520286456846099),
 (39, 0.08471737420873576),
 (101, 0.08471737420873576),
 (203, 0.08471737420873576),
 (543, 0.08471737420873576),
 (899, 0.08471737420873576),
 (1113, 0.08471737420873576),
 (1142, 0.08471737420873576),
 (1207, 0.08471737420873576),
 (1523, 0.08471737420873576),
 (3235, 0.08471737420873576),
 (3909, 0.08471737420873576),
 (103, 0.08447772061910234),
 (193, 0.08447772061910234),
 (501, 0.08447772061910234),
 (1405, 0.08377078165833911),
 (1828, 0.08377078165833911),
 (2250, 0.0837707816583391),
 (2339, 0.0837707816583391),
 (3069, 0.0837707816583391),
 (4491, 0.0837707816583391),
 (4717, 0.0837707816583391),
 (70, 0.08346223261119858),
 (457, 0.08346223261119858),
 (634, 0.08346223261119858),
 (746, 0.08346223261119858),
 (787, 0.08346223261119858),
 (1473, 0.08346223261119858),
 (3140, 0.08346223261119858),
 (3310, 0.08346223261119858),
 (3423, 0.08346223261119858),
 (19, 0.0830812984794528),
 (1534, 0.0830812984794528),
 (1898, 0.0830812984794528),
 (51, 0.08240856434303293),
 (153, 0.08240856434303293),
 (572, 0.08240856434303293),
 (1639, 0.08240856434303293),
 (1926, 0.08240856434303293),
 (207, 0.08226127456606226),
 (257, 0.08226127456606226),
 (2644, 0.08226127456606226),
 (3028, 0.08226127456606226),
 (3389, 0.08226127456606226),
 (63, 0.08175191193132876),
 (3431, 0.08175191193132876),
 (98, 0.08111071056538127),
 (472, 0.08111071056538127),
 (503, 0.08111071056538127),
 (534, 0.08111071056538127),
 (680, 0.08111071056538127),
 (752, 0.08111071056538127),
 (776, 0.08111071056538127),
 (885, 0.08111071056538127),
 (1161, 0.08111071056538127),
 (1621, 0.08111071056538127),
 (2099, 0.08111071056538127),
 (2253, 0.08111071056538127),
 (2712, 0.08111071056538127),
 (2801, 0.08111071056538127),
 (2882, 0.08111071056538127),
 (3355, 0.08111071056538127),
 (3527, 0.08111071056538127),
 (4060, 0.08111071056538127),
 (4430, 0.08111071056538127),
 (4472, 0.08111071056538127),
 (4567, 0.08111071056538127),
 (4640, 0.08111071056538127),
 (190, 0.08048436365855338),
 (37, 0.08000711205939975),
 (82, 0.08000711205939975),
 (223, 0.08000711205939975),
 (254, 0.08000711205939975),
 (329, 0.08000711205939975),
 (471, 0.08000711205939975),
 (632, 0.08000711205939975),
 (987, 0.08000711205939975),
 (1401, 0.08000711205939975),
 (1614, 0.08000711205939975),
 (2683, 0.08000711205939975),
 (3470, 0.08000711205939975),
 (2203, 0.07987230638308718),
 (2763, 0.0792740035289418),
 (16, 0.07894736842105264),
 (138, 0.07894736842105264),
 (1560, 0.07894736842105264),
 (1765, 0.07894736842105264),
 (2820, 0.07894736842105264),
 (4054, 0.07894736842105264),
 (4450, 0.07894736842105264),
 (62, 0.07868894753646337),
 (189, 0.07868894753646337),
 (205, 0.07868894753646337),
 (256, 0.07868894753646337),
 (850, 0.07868894753646337),
 (1323, 0.07868894753646337),
 (1655, 0.07868894753646337),
 (1664, 0.07868894753646337),
 (2161, 0.07868894753646337),
 (2165, 0.07868894753646337),
 (2326, 0.07868894753646337),
 (2410, 0.07868894753646337),
 (2659, 0.07868894753646337),
 (2789, 0.07868894753646337),
 (3155, 0.07868894753646337),
 (3253, 0.07868894753646337),
 (3430, 0.07868894753646337),
 (3832, 0.07868894753646337),
 (11, 0.07792865001991967),
 (71, 0.07792865001991967),
 (365, 0.07792865001991967),
 (1289, 0.07792865001991967),
 (1290, 0.07792865001991967),
 (1367, 0.07792865001991967),
 (3206, 0.07792865001991967),
 (3701, 0.07792865001991967),
 (737, 0.07694837640638656),
 (2163, 0.07694837640638656),
 (2592, 0.07694837640638656),
 (4639, 0.07694837640638656),
 (274, 0.07664241743562072),
 (59, 0.07647191129018727),
 (200, 0.07647191129018727),
 (313, 0.07647191129018727),
 (800, 0.07647191129018727),
 (1045, 0.07647191129018727),
 (1288, 0.07647191129018727),
 (1348, 0.07647191129018727),
 (1521, 0.07647191129018727),
 (2317, 0.07647191129018727),
 (2551, 0.07647191129018727),
 (3398, 0.07647191129018727),
 (4411, 0.07647191129018727),
 (271, 0.076004188790721),
 (732, 0.076004188790721),
 (908, 0.076004188790721),
 (2395, 0.076004188790721),
 (3022, 0.076004188790721),
 (4122, 0.076004188790721),
 (55, 0.07594632491572426),
 (229, 0.07543142864047142),
 (79, 0.07509392614826384),
 (665, 0.07509392614826384),
 (1325, 0.07509392614826384),
 (2052, 0.07509392614826384),
 (2363, 0.07509392614826384),
 (2701, 0.07509392614826384),
 (2831, 0.07509392614826384),
 (2916, 0.07509392614826384),
 (3906, 0.07509392614826384),
 (4082, 0.07509392614826384),
 (2354, 0.07509392614826382),
 (109, 0.07443229275647868),
 (179, 0.07443229275647868),
 (1005, 0.07443229275647868),
 (1769, 0.07443229275647868),
 (2136, 0.07443229275647868),
 (2212, 0.07443229275647868),
 (2381, 0.07443229275647868),
 (3072, 0.07443229275647868),
 (3981, 0.07443229275647868),
 (9, 0.07421560439929402),
 (76, 0.07421560439929402),
 (212, 0.07421560439929402),
 (591, 0.07421560439929402),
 (674, 0.07421560439929402),
 (784, 0.07421560439929402),
 (1175, 0.07421560439929402),
 (1623, 0.07421560439929402),
 (1883, 0.07421560439929402),
 (2021, 0.07421560439929402),
 (2241, 0.07421560439929402),
 (2650, 0.07421560439929402),
 (3188, 0.07421560439929402),
 (125, 0.07404360971988654),
 (419, 0.07336739820667777),
 (536, 0.07336739820667777),
 (782, 0.07336739820667777),
 (979, 0.07336739820667777),
 (1446, 0.07336739820667777),
 (1632, 0.07336739820667777),
 (488, 0.07300534327409847),
 (97, 0.07254762501100118),
 (635, 0.07254762501100118),
 (728, 0.07254762501100118),
 (827, 0.07254762501100118),
 (1168, 0.07254762501100118),
 (570, 0.07254762501100116),
 (1262, 0.07254762501100116),
 (1292, 0.07254762501100116),
 (1770, 0.07254762501100116),
 (1774, 0.07254762501100116),
 (2533, 0.07254762501100116),
 (2698, 0.07254762501100116),
 (2787, 0.07254762501100116),
 (3241, 0.07254762501100116),
 (3993, 0.07254762501100116),
 (4098, 0.07254762501100116),
 (4402, 0.07254762501100116),
 (4442, 0.07254762501100116),
 (997, 0.07175473098524099),
 (1018, 0.07175473098524099),
 (1146, 0.07175473098524099),
 (1340, 0.07175473098524099),
 (1701, 0.07175473098524099),
 (2056, 0.07175473098524099),
 (3390, 0.07175473098524099),
 (3822, 0.07175473098524099),
 (183, 0.07165743639000186),
 (704, 0.07098727864204515),
 (2018, 0.07098727864204515),
 (100, 0.07079923254047887),
 (267, 0.07079923254047887),
 (336, 0.07079923254047887),
 (1171, 0.07079923254047887),
 (1737, 0.07079923254047887),
 (2114, 0.07079923254047887),
 (3671, 0.07079923254047887),
 (3975, 0.07079923254047887),
 (4005, 0.07079923254047887),
 (4289, 0.07079923254047887),
 (1990, 0.07038153430777869),
 (30, 0.07024393586862705),
 (215, 0.07024393586862705),
 (2320, 0.07024393586862705),

In [284]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [285]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [286]:
#frontend

In [287]:
import pickle

In [292]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [293]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [295]:
pickle.dump(similarity,open('similarity.pkl','wb'))